.table {
  border: 2px solid gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.adminViewbg {
  background-image: url("../images/bg2.jpeg");
}

#thead {
  color: black;
}

.view {
  width: 50%;
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.view:hover {
  background-color: brown;
}

.tablediv {
  font-size: 20px;
  font-weight: bold;
}
