/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
} */

.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.div {
  overflow: visible;
}
.div-text {
  margin-right: 20px;
  overflow: visible;
}
body {
  font-family: "Poppins", sans-serif;
}
.bg {
  height: 600px;
  width: 600px;
  margin-top: 0px;
}
.bg1 {
  height: 600px;
  width: 900px;
  /* margin-top: 0px;
    margin-left: 10px; */
}
.bg2 {
  height: 500px;
  width: 900px;
}
.avatar {
  margin-top: 5px;
  margin-right: 20px;
  height: 100px;
  width: 100px;
  border-radius: 90px;
  border-style: groove;
  border-color: #683aa4;
}
.div-title {
  margin-top: 1px;
  margin-right: 20px;
  font-weight: 2px;
  font-size: xx-large;
  font-weight: bolder;
}
.div-title1 {
  color: black;
  font-weight: 5px;
  font-size: xx-large;
  font-weight: bolder;
}
.form-container {
  margin-top: 10px;
}
.has-cno .form-control {
  padding-left: 2.375rem;
  border-bottom: 2px solid #d9d9d9;
  color: #999;
}
.has-ctype .form-control {
  padding-left: 2.375rem;
  border-bottom: 2px solid #d9d9d9;
  color: #999;
}
.has-bname .form-control {
  padding-left: 2.375rem;
  border-bottom: 2px solid #d9d9d9;
  color: #999;
}
.has-amt .form-control {
  padding-left: 2.375rem;
  border-bottom: 2px solid #d9d9d9;
  color: #999;
}
.has-des .form-control {
  padding-left: 2.375rem;
  border-bottom: 2px solid #d9d9d9;
  color: #999;
}
.has-date .form-control {
  padding-left: 2.375rem;
  border-bottom: 2px solid #d9d9d9;
  color: #999;
}
hr {
  color: #683aa4;
}
.btn {
  margin-right: 190px;
  width: 250px;
  background-color: #683aa4 !important;
  border: none !important;
  outline: none !important;
  height: 40px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 1px 0;
  margin-bottom: 3px 0;
  cursor: pointer;
  transition: 0.5s;
  background-image: linear-gradient(
    to right,
    #683aa4,
    #844fca,
    #a66bf3
  ) !important;
  cursor: pointer;
}
.div-btn {
  margin-left: 150px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(89, 125, 223);
  color: white;
  text-align: center;
}
