#wave-qhome{
  position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: -1;  
}
#container-test{
  margin-top: 100px;
}
#avatar-test {
  margin-top: 20px;
  margin-left: 1200px;
  height: 150px;
  width: 200px;
  border-radius: 85px;
  box-shadow: 5px 10px #888888;
}
#div-welcome-test {
  text-shadow: 5px 5px 8px #000000;
  margin-top: 10px;
  margin-left: 1000px;
  font-weight: 2px;
  font-size: 52px;
  background: -webkit-linear-gradient(rgb(245, 6, 245), rgb(25, 23, 26));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#div-instruct-test {
  height: 260px;
  border-radius: 16px;
  width: 600px;
  border-style: solid;
  border-color: rgb(148,0,211,0.5);
  margin-left: 1000px;
  box-shadow: 5px 10px #888888;
}
#hr-test{
  color:violet;
  border-style: solid;
}
#h3-test {
  padding-top: 10px;
  color: violet;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
}
#li-test{
  padding-left: 10px;
  text-align: left;
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: violet;
}
#div-btn-test{
  height: 100px;
  width: 350px;
  border-radius: 27px;
}
#btn-test{
  padding-top: 10px;
  margin-left: 1200px;
  border-radius: 16px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 24px;
  color:deeppink;
  font-family :'Times New Roman', Times, serif;
  border-color: rgba(148,0,211,0.5);
  box-shadow: 5px 10px #888888;
}
#btn-test:hover{
  background-color: rgba(236, 13, 106, 0.781);
  color: white;
}
